/*---body section--*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color:#121212 ;
  color:white;
  font-family:'Centra',sans-serif;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  line-height: normal;
}
/*-----Navbar----------*/
.navbar{
  background:#080808;
  color:white;
}
.social-icon{
  margin-left: 100px;
}
.social-icon a{
padding: 20px;
color: white;
}
.social-icon a:hover{
  color: #dcfd22;
}
.nav-head{
  position: relative;
  right: 80px;
  color: rgb(248, 3, 3);
  padding: 0;
  font-family: 'Carrois Gothic SC', sans-serif;
}
.logo-head{
  position: relative;
  right: 80px;
  width: 10vh;
  height: 10vh;
  border-radius: 8px;
}
.logo-head:hover{
  animation: vibrate 0.5s infinite;
}

.list_name{
  color: white;
}
.list_name link:visited{
color: #c04406;
}
.list_name:hover{
  color: #FF6314;
}
.list_name:active{
  color: #FF6314;
}
.nav_toggler{
  color: white;
}

/*-----Banner----------*/
.banner{
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url("../public/japanese-lantern3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity:.9;

}
.banner-area{
  color: black;
}
.image_banner{
  width: 70vh;
  height: 60vh;
  position: absolute;
  top: 30vh;
  z-index: 1;
  opacity: 1;
  animation: floating 3s infinite ease-in-out;
}
.visits{
  color: #dcfd22;
  font-size:1.5rem;
  font-weight: 500;
}
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 30px); }
  100%   { transform: translate(0, -0px); }   
}
.banner .tagline{
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background:linear-gradient(90,21deg,purple,blue);
  border:1px solid white;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1{
  font-size: 65px;
  font-weight: 700;
  font-family: 'Carrois Gothic SC', sans-serif;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p{
  color: white;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 90%;
}

.banner button{
  color: white;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  background-color: #121212;
  align-items: center;
}
.banner button {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.banner button:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.banner button:active {
  transform: scale(1.025);
}

/*-----About----------*/
.about_section{
  margin-top: 0;
  padding: 100px 0 190px 0;
  background-image:url('../src/images/image1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.second_div{
  color: rgb(114, 5, 114);
  padding: 15px;
  background-color:white;
  border-radius: 20px;
}
.profile_pic{
  margin-left: 3vw;
  width: 40vh;
  height:50vh;
  position: relative;
}
.about_info{
  margin-right: 10vw;
}
.about_info h3{
  padding: 15px 0px 5% 0px;
  font-weight: 600;
}
.about_info h5{
  font-weight: 300;
  padding: 5px 0px 5px 0px;
}
#dropdown_down{
  background-color: white;
  color: #a303a3;
  border: none;
}
.droplist{
  color:#a303a3;
  cursor: none;
}
/*-----Skills----------*/

.skill{
  padding: 0 0 50px 0;
  position: relative;
}
.skill-bx{
  background: #1d1c1c;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}
.skill-bx h2{
  font-family: 'Bonheur Royale', cursive;
}
.skill h5{
font-size: 45px;
font-weight: 700;

}
.skill p{
  color: white;
  font-size: 18px;
  letter-spacing: .8px;
  line-height: 1.5px;
  max-width: 14px 0 75px 0;
}
.piechart-bx{
  padding-bottom: 20px;
  margin: 10px 0px 10px 0px;
}

/*-----Project----------*/
.project{
  padding: 80px 0;
  position: relative;
  background-color: black;
}
.project a{
  color: white;
  text-decoration:none;
}
.project h2{
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  font-family: 'Bonheur Royale', cursive;
}
.project p{
  color: white;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 50%;
}
.project .nav.nav-pills{
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: gray;
  overflow: hidden;
}
.project .nav.nav-pills .nav-items{
  width: 33.33333%;
}
.project .nav-items .nav-link{
  background-color: transparent;
  border-radius: 0;
  padding: 17px;
  color: white;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before{
  content:"";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg,red,blue);
  top:0;
  left: 0;
  z-index:-1;
  transition: 0.2s ease-out;
}
.project .nav.nav-pills .nav-link.active::before{
  width: 100% !important;
}
.project .nav.nav-pills .nav-link.active{
  border: 1px solid white;
}
.project-imgbx{
  border-radius: 30px;
  overflow: hidden;
  height: fit-content;
  width: fit-content;
  margin-bottom: 24px;
  text-align: center;
}

.project-imgbx .image{
  object-fit: cover;
  width:200px;
  height:200px;
}
.project-imgbx h4{
  text-align: center;
  font-size: 1em;
}
.image:hover{
  animation: vibrate 0.5s infinite;
}
@keyframes vibrate{
  0%{ transform: rotate(0deg); }
  10%{ transform: rotate(-1deg); }
  20%{ transform: rotate(1deg); }
  30%{ transform: rotate(0deg); }
  40%{ transform: rotate(1deg); }
  50%{ transform: rotate(-1deg); }
  60%{ transform: rotate(0deg); }
  70%{ transform: rotate(-1deg); }
  80%{ transform: rotate(1deg); }
  90%{ transform: rotate(0deg); }
  100%{ transform: rotate(-10deg); }

}
/*-------Contact-----------*/
.contact-section{
  margin-top: 0;
  padding: 50px 0 80px 0;
  background-color: #0e1958;
}
#contact-heading{
  padding: 10px;
  font-family: 'Bonheur Royale', cursive;
  font-size: 3rem;
  color:white;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
  text-shadow: 3px 3px #030303;
}
#text-muted{
  color: white;
}
#contact-form{
  border-radius: 8px;
  padding: 2vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(255, 255, 255, 0.075);
  padding-bottom: 5rem;
}
.contact-image{
  width: 60vh;
  height: 60vh;
}

/*-------Footer-----------*/
#footer-container{
  padding: 10px;
}
#footer_head{
  padding: 10px 0px 0px 10px;
  text-align: center;
}
#footer_para{
  padding: 10px 0px 0px 10px;
  text-align: center;
}
.footer_icon{
  border-top: 2px solid white;
  padding: 5px 0px 5px 0px;
  display: inline-block;
  text-align: center;
}
.footer_icon a{
  padding: 10px;
}

/*Media queries*/
@media (min-width:400px) {
  .banner button{
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}
.banner_image{
  display: none;
}

.second_div{
  color: rgb(114, 5, 114);
  padding: 15px;
  background-color:white;
  border-radius: 20px;
}
.profile_pic{
  width: 40vh;
  height:50vh;
  position: relative;
}
.about_info{
  margin-right: 10vw;
}
#contact_submit-btn{
  background-color: #FF6314;
  border: none;
}


.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 60px;
  font-size:3rem;
  width: 5rem;
  background: rgb(255, 81, 0);
  color: white;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  box-shadow: 0 5px 10px #dcfd22;
  transition: .9s ease-in-out;
}

/*-------------------------------CSS MEdia --------------------------------------*/
@media screen and (max-width:464px) {
  .banner{
    background-image: url("../public/whale.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner_image{
    display: none;
  }
  .contact-image{
    display: none;
  }
  .navbar{
    background: linear-gradient(to right,#2886d3,rgb(233, 236, 241));
    color:white
  }
  .logo-head{
    width: 3vh;
    height:3vh;
    position: relative;
    right:45px;
    
  }
  .list_name{
    color: white;
    margin-left:170px;
  }
  .image_banner{
    display: none;
  }
.profile_pic{
  
}

  .back-to-top{
    position: fixed;
    right: 40px;
    opacity: .7;
  }
  #contact-form{
    border-radius: 8px;
    padding: 2vw;
    width: 350px;
    position: relative;
    right:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.075);
    padding-bottom: 5rem;
  }
  .skill-bx{
    background: #1d1c1c;
    border-radius: 64px;
    text-align: center;
    padding: 60px 40px 150px;
    margin-top: -60px;
  }
 
  .profile_pic{
    margin-left: 12vw;
    width: 30vh;
    height:40vh;
    position: relative;
  }
  .about_section{
    margin-top: 0;
    padding: 100px 0 190px 0;
    background-image:url('../src/images/jellyfish.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .nav-head{
    color: #300377;
    position: relative;
    left:0px;
  }
  .contact-section
  {
    background-image: url('../src/images/octopus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

}
/*------------------------------------------CSS End--------------------------------------------*/
